body {
    background-color: #343434;
}
.container {
    margin-top: 35vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: max-content;
}
button {
    margin: 1rem;
    border-radius: 10px;
    padding: .5em;
    width: 10em;
    height: 3em;
    font-size: 1em;
    color: white;
    border: none;
}
.btn1 {
    background: linear-gradient(-45deg,red,orange,yellow);
}
.btn2 {
    background: 
    linear-gradient(-45deg, #0aa98e,#32ff54);
}
.btn2:hover{
    background: 
    linear-gradient(45deg, #0aa98e,#32ff54);
}
.btn3 {
    background: linear-gradient(45deg, #4343de,#4354ec);
    box-shadow: 0 5px 30px #3459c9, 0 -5px #3454c9;
}
.btn4 {
    background: transparent;
    border: 2px solid #cd4565;
    color: #cd4565;
}
.btn5 {
    background-image: linear-gradient(to right, #0aa98f,#49ff78);
    font-weight: 900;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: 5px 5px 30px #0aa98e, -5px -5px 30px #0aa98e;
}
.btn6 {
    background: transparent;
    border-style: solid;
    animation: rotate 2s infinite;
    border-color: #ed0eed #3454c9;
    color: blueviolet;
}
    @keyframes rotate {
        50%{
            border-color: #3454c9 #ed0eed;
        }
        100%{
            border-color: #ed0eed #3454c9;
        }
    }
.btn7 {
    background-color: #efe;
    color: #232332;
    box-shadow: 7.5px 10px 5px #787878;
}
.btn8 {
    background-color: #222;
    box-shadow: 5px 5px 5px #121212, -5px -5px 5px #323232;
}
.btn8:hover {
    box-shadow: 5px 5px 5px #121212 inset, -5px -5px 5px #212121 inset;
}